body {
  text-align: center;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
  align-items: flex-start;
}

.card {
  background: white;
  border: 1px solid #777;
  border-radius: 0.25rem;
  overflow: hidden;
}

.card.card-shadow {
  border: none;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}

.card-header.card-image {
  overflow: hidden;
  padding: 0;
}

.card-header.card-image > img {
  display: block;
  width: 100%;
  aspect-ratio: 16/9;
  object-fit: cover;
  object-position: center;
  transition: 200ms transform ease-in-out;
}

.card-body {
  font-size: 2rem;
  padding: 0 1rem;
}

.card-footer {
  margin-top: 1rem;
  padding: 1rem;
  padding-top: 0;
}

.btn {
  --color: hsl(200, 50%, 50%);
  background-color: var(--color);
  color: white;
  border: none;
  font-size: 1rem;
  padding: 0.5em 0.75em;
  border-radius: 0.25em;
  cursor: pointer;
}

btn:hover,
a:focus {
  background: hsl(200, 50%, 60%);
}

a.btn-outline {
  background: none;
  border: 1px solid var(--color);
  color: var(--color);
}

a.btn-outline:hover,
a.btn-outline:focus {
  background: hsl(200, 50%, 90%);
}

.btn + .btn {
  margin-left: 0.25rem;
}

.card:hover > .card-header.card-image > img {
  transform: scale(1.025);
}

img {
  scale: 1000;
}
